*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
 overflow: hidden;
}

.logoCont{
    width: 50px;
    margin:  0 20px ;
    line-height: 1;
}

a{
    text-decoration: none;
}

.logoCont a h1{
    color: rgb(17, 191, 17);
    font-weight: 700;
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#ffffff;
    color: black;
    padding: 10px;
    z-index: 1001;
}

.navItens{
    display: flex;
    margin: 10px;
    list-style: none;
    font-weight: 600;
    justify-content: center;
    color: white;
    
}

.navItens li{
    margin: 0 10px;
    padding: 0 5px;
    font-size: .9rem;
    color: black;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.navItens li:hover{
    background-color: white;
    color: black;
    scale: 1.2;
}

.content{
    background:linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url('/images/fundo.jpg');
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentText{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    
}

.contentText{
    transform: translateY(100%);
}

.dois{
    transform: translateY(100px);
}

.contentText h2{
    font-size: 4rem;
    margin-bottom: 10px;
}

.contentText p{
    font-size: 1.2rem;
}

.btns a{
    background-color: rgb(0, 173, 84);
    font-weight: bold;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 5px;
    transition: .3s ease-in;
}

.btns a:hover{
    outline: 1px solid white;
    color: white;
    background-color: transparent;
    scale: 1.5;
}

.services{
    display: flex;
    justify-content: center;
    text-align: center;
}

.content_services{
    width: 70%;
    margin: 50px auto;
}
